<div class="container"> 



<div>
    <label for="tagInput">Enter Tag Number: </label>
    <input type="text" id="tagInput" [(ngModel)]="newTagNumber">
    <button (click)="addTagNumber()">Add Tag</button>
</div>

<table>
    <thead>
        <tr>
            <th>Tag Number</th>
            <th>Document 1</th>
            <th>Document 2</th>
            <th>Document 3</th>
            <th>Document 4</th>
            <th>Append Upload</th> <!-- New column -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tag of tagDocuments; let i = index">
            <td>{{ tag.tagnumber }}</td>
            <td><input type="file" (change)="uploadDocument($event, i, 0)"></td>
            <td><input type="file" (change)="uploadDocument($event, i, 1)"></td>
            <td><input type="file" (change)="uploadDocument($event, i, 2)"></td>
            <td><input type="file" (change)="uploadDocument($event, i, 3)"></td>
            <td>
                <!-- <button *ngIf="areAllDocumentsUploaded(tag) && !tag.uploaded" (click)="appendUpload(tag.tagnumber)"> -->
                    <button *ngIf="areAllDocumentsUploaded(tag) &&  !uploadedStatus.get(tag.tagnumber)" (click)="appendUpload(tag.tagnumber)">Append</button>
            </td>
        </tr>
    </tbody>
</table>

</div>